body {
    background-image: url('img/Pillairaypatti_Pillaiyar_Temple.JPG'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; /* Set text color to white or any other contrasting color */
}

.image-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.image-container img {
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    max-width: 300px;
    margin: 10px;
}
